html,
body {
  height: 100%;
}

.bodyindex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
body{
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.usersTableDiv{
width:100%;
height: 1080px;
overflow: auto;
text-align: center;
}
.usersTableDiv td{
  vertical-align: middle;
}
.contact{
  background-color: #FCBF8F;
}

.sBlurb
{
  background-color: #67967A;
}
.sTH_Width_Increase
{
  padding-left: 100px !important;
  padding-right: 100px !important;
  white-space: nowrap;
}
.sFirstDraft
{
  background-color: #FFFF04;
}
.sToPrint
{
  background-color: #C3D7EF;
}
.sColorPoster
{
  background-color: #538DD5;
}
.sPostCard
{
  background-color: #FF6601;
}
.s13sheet
{
  background-color: #76933C;
}
.sUtAd
{
  background-color: #808080;
}
.sBrochure
{
  background-color: #948a54;
}
.sButton{
  background-color: #8DD4FB;
}
.sBigBanner
{
  background-color: #FF5596;
}
.sFoamBoard
{
  background-color: #70F1FC;
}
.sWindowDecal
{
  background-color: #FF4FFF;
}
.sAframe{
  background-color: #00FF03;
}
.sPaperBanner{
  background-color: #F9D786;
}
.sFreeSpeech{
  color: white;
  background-color: #0700FF;
}
.sEventSignage{
  color:white;
  background-color: #510B06;
}
.sShirt
{
  color: white;
  background-color: #7030A0;
}
.sPlasma
{
  color: white;
  background-color: #526F96;
}
.sCancel
{
  background-color: #FFC7CE;
}
.sCanceltext
{
  color: firebrick;
  font-weight:550;
}
.sWeb
{
  color: white;
  background-color: #1531F4;
}
.sCamPackage
{
  color: white;
  background-color: #B62619;
}
.sShirtPackage
{
  color: white;
  background-color: #5D4A77;
}
.artistColor1{
  background-color:#F3B643;
}

.artistColor2{
color:white;
  background-color: #67967A;
}

.artistColor3{
  background-color: #F2ADDC;
}

.artistColor4{
  color: white;
  background-color: #92902C;
}

.artistColor5{
  color: white;
 background-color: #7A401A;
}

.artistColor6{
color: white;
   background-color: #4294F7;
}

.artistColor7{
color:white;
   background-color: #992A30;
}

.artistColor8{
  color:white;
background-color: #3F8F92;
}

.artistColor9{
  color: white;
background-color: #4B13F5;
}

.artistColor10{
  color:white;
background-color: #385391;
}

.artistColor11{
  color: white;
background-color: #882B8E;
}

.artistColor12{
background-color: #58e399;
}

.artistColor13{
background-color: #bde254;
}

.artistColor14{
  background-color: #436b09;
}

.artistColor15{
background-color: #f91fbb;
}


#artistDropdown{
  width:20em;
  margin: .5em;
}


#packageDropdown{
  width:20em;
  margin: .5em;
}

.headerColor1{
    background-color: #D0CECE;
}

.headerColor2{
  background-color: #AEAAAA;
}
.fullScreenHover:hover
{
  box-shadow: 0px 0px 100px #b3b3b3;
}
.fullscreenImage
{
  float: right;
  position: relative;
  top:20px;
}
